In [7]:
import pandas as pd
import numpy as np

In [27]:

filepath = "laptop_pricing_dataset_mod1.csv"
headers = ["Manufacturer", "Category", "Screen", "GPU", "OS", "CPU_core", "Screen_Size_inch", "CPU_frequency", "RAM_GB", "Storage_GB_SSD", "Weight_kg", "Price"]
df = pd.read_csv(filepath, names=headers,  header=None)

In [29]:
print(df.head())

     Manufacturer  Category     Screen  GPU  OS  CPU_core Screen_Size_inch  \
NaN  Manufacturer  Category     Screen  GPU  OS  CPU_core   Screen_Size_cm
0.0          Acer         4  IPS Panel    2   1         5            35.56
1.0          Dell         3    Full HD    1   1         3           39.624
2.0          Dell         3    Full HD    1   1         7           39.624
3.0          Dell         4  IPS Panel    2   1         5           33.782

     CPU_frequency  RAM_GB  Storage_GB_SSD  Weight_kg  Price
NaN  CPU_frequency  RAM_GB  Storage_GB_SSD  Weight_kg  Price
0.0            1.6       8             256        1.6    978
1.0            2.0       4             256        2.2    634
2.0            2.7       8             256        2.2    946
3.0            1.6       8             128       1.22   1244

In [31]:
# df.columns = headers
# print(df.head(10))

In [33]:
df.replace('?', np.NaN, inplace = True)

In [35]:
print(df.dtypes)

Manufacturer        object
Category            object
Screen              object
GPU                 object
OS                  object
CPU_core            object
Screen_Size_inch    object
CPU_frequency       object
RAM_GB              object
Storage_GB_SSD      object
Weight_kg           object
Price               object
dtype: object

In [21]:
print(df.describe(include = 'all'))

                0     1    2        3    4    5    6       7    8    9    10  \
count   238.000000   239  239      239  239  239  239     235  239  239  239
unique         NaN    12    6        3    4    3    4      10   12    6    3
top            NaN  Dell    3  Full HD    2    1    5  39.624  2.5    8  256
freq           NaN    71  154      161  136  224  123      89   71  184  219
mean    118.500000   NaN  NaN      NaN  NaN  NaN  NaN     NaN  NaN  NaN  NaN
std      68.848868   NaN  NaN      NaN  NaN  NaN  NaN     NaN  NaN  NaN  NaN
min       0.000000   NaN  NaN      NaN  NaN  NaN  NaN     NaN  NaN  NaN  NaN
25%      59.250000   NaN  NaN      NaN  NaN  NaN  NaN     NaN  NaN  NaN  NaN
50%     118.500000   NaN  NaN      NaN  NaN  NaN  NaN     NaN  NaN  NaN  NaN
75%     177.750000   NaN  NaN      NaN  NaN  NaN  NaN     NaN  NaN  NaN  NaN
max     237.000000   NaN  NaN      NaN  NaN  NaN  NaN     NaN  NaN  NaN  NaN

         11    12
count   234   239
unique   78   194
top     2.2  1396
freq     21     4
mean    NaN   NaN
std     NaN   NaN
min     NaN   NaN
25%     NaN   NaN
50%     NaN   NaN
75%     NaN   NaN
max     NaN   NaN

In [23]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239 entries, 0 to 238
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       238 non-null    float64
 1   1       239 non-null    object
 2   2       239 non-null    object
 3   3       239 non-null    object
 4   4       239 non-null    object
 5   5       239 non-null    object
 6   6       239 non-null    object
 7   7       235 non-null    object
 8   8       239 non-null    object
 9   9       239 non-null    object
 10  10      239 non-null    object
 11  11      234 non-null    object
 12  12      239 non-null    object
dtypes: float64(1), object(12)
memory usage: 24.4+ KB
None